.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  // padding-top: 94px;
  // padding-bottom: 47px;
  // &__container {
  //   padding-top: 60px;
  //   padding-bottom: 60px;
  // }
  // text-align: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // }
  // &__list {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // }
  // &__item {
  //   max-width: 450px;
  // }
  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  &__subtitle {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--brand-second-color);
    margin-bottom: 10px;
  }
  &__text {
    @include font(400, 14px, 1.71, 0.03em);
    color: var(--text-primary-color);
    text-align: start;
  }
  &__icon {
    // width: 100%;
    height: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--bkc-third-color);
    border-radius: 4px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-bottom: 30px;
  }
}
