.footer {
  background-color: var(--bkc-second-color);
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__text {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--bkc-primary-color);
    margin-bottom: 20px;
  }
  &__address {
    @media screen and (max-width: 768px) {
      margin-bottom: 60px;
    }
  }
  &__social-networks {
    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
    }
  }
}
