.header {
  border-bottom: 1px solid var(--border-color);
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
  }
  &__logo {
    margin-right: 93px;
  }
  @media screen and (max-width: 1199px) {
    &__container {
      justify-content: space-between;
      height: 60px;
    }
  }
}
