.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  min-height: 50px;
  padding: 10px 20px;
  margin: 0 auto;

  font-family: inherit;
  @include font(700, 16px, 1.87, 0.06em);

  color: var(--bkc-primary-color);
  background-color: var(--brand-primary-color);

  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &__text {
    margin-right: 9px;
  }

  &:hover,
  &:focus {
    background-color: var(--btn-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
