.btn-menu {
  @media screen and (min-width: 767px) {
    display: none;
  }
  display: inline-flex;
  z-index: 3;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  &__close {
    display: none;
  }
  &.is-open &__close {
    display: block;
  }
  &.is-open &__menu {
    display: none;
  }
  &:focus &__menu,
  &:hover &__menu,
  &:focus &__close,
  &:hover &__close {
    fill: var(--btn-hover);
  }
}
