.backdrop {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 350ms, visibility 400ms;

  padding: 20px 50px;
  overflow-y: scroll;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 450px;
  height: 609px;
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--bkc-primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 600ms;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
  &__btn {
    width: 30px;
    height: 30px;
    background-color: var(--bkc-primary-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brand-logo-second-color);
    padding: 0;
    cursor: pointer;
    outline: none;
  }
  &__title {
    text-align: center;
    @include font(700, 20px, 1.15, 0.03em);
    color: var(--brand-second-color);
    margin-bottom: 12px;
  }
}

.modal__close-icon {
  fill: currentColor;
  .modal__btn:focus & {
    fill: var(--btn-hover);
  }
  .modal__btn:hover & {
    fill: var(--btn-hover);
  }
}
